<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatosPermisos.Properties.Settings.permisosConnectionString"
            connectionString="server=localhost;user id=root;password=123456789;database=permisos"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>